p span{
    padding:10px;
    color:#3f51b5;
    font: 1em Roboto,"Helvetica Neue",sans-serif;
}
table { 
    width:90%;
    margin: auto;
    padding-top: 20px;
    color:#3f51b5;
    font: 1em Roboto,"Helvetica Neue",sans-serif;
}